@charset "UTF-8";
/*===========================================================
[最近の更新]
2019/12/27 アコーディオン・こだわり条件のレイアウトを修正しました。
===========================================================*/

* {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
}
/*===========================================================
検索結果・募集詳細・応募入力の共通設定
===========================================================*/
/* ページ全体のレイアウト調整 */
@media screen and (max-width: 768px) {
  .inner {
    width: 94% !important;
  }
}

/* 検索結果・○○○の募集詳細にあるh1の設定 */
  /* 背景色 */
.pageid {
  background-color: #454855;
}
  /* テキスト */
.pageid h1 {
  /* color: #333; */
}
  /* レイアウト調整 */
@media screen and (max-width: 768px) {
  .pageid h1 {
    font-size: 18px;
  }
}

/* 検索結果・募集詳細にある「応募する」ボタン、応募入力にある「入力内容の確認」「この内容で応募する」ボタンの設定 */
  /* 背景色・テキスト */
.button_application {
  background: #f18003;
  /* color: #333; */
  border: none;
}
.button_application:hover {
  /* color: #ccc; */
}
  /* レイアウト調整 */
@media screen and (max-width: 768px) {
  .button_application {
    height: 70px !important;
  }
}

/* 検索結果・応募入力にある「詳細を見る」ボタンの設定 */
  /* 背景色・テキスト */
.button_detail {
  background: #fff;
  border: 2px solid  #f18003;
  color: #f18003;
  font-size: 12px !important;
}
.button_detail:hover {
  background: #f18003;
  color: #fff;
}
  /* レイアウト調整 */
@media screen and (max-width: 768px) {
  .button_detail {
    font-size: 130% !important;
    height: 70px !important;
    margin: 10px 0 0 0 !important;
  }
  .result_box_cont_02 {
    padding-bottom: 60px;
  }
}

/* 検索結果・応募入力にある応募先電話番号の設定 */
  /* テキスト */
.tell_area p.tell_number,
.tell_area p.tell_number a {
  color: #f18003;
  text-decoration: none;
}

/* 条件のtable(給与・勤務地など)の設定 */
  /* 背景色・テキスト */
.table_style_01 th,
.table_style_02 th {
  background-color: #f1f1f1;
  color: #333;
}
  /* レイアウト調整 */
.table_style_01 th,
.table_style_01 td,
.table_style_02 th,
.table_style_02 td {
  line-height: 1.5;
}
.table_style_01 th,
.table_style_02 th {
  min-width: 36px;
}
.table_style_01 td,
.table_style_02 td {
  min-width: 100px;
}
@media screen and (max-width: 768px) {
  .table_style_01 th,
  .table_style_01 td,
  .table_style_02 th,
  .table_style_02 td {
    padding: 20px 10px;
    font-size: 12px;
    height: 0 !important;
    vertical-align: baseline !important;
  }
}

/* 元からあるパンくずリストの影を消す */
.aui .breadcrumb > li {
  text-shadow: none;
}

/* 条件のレイアウト調整 */
.result_box_tag ul.tag {
  margin-top: 4px !important;
}
.result_box_tag ul.tag li {
  padding: 0.4em;
  margin: 4px;
}
.merit,
.competence,
.treatment {
  color: #91b4c0 !important;
  font-weight: bold;
  background-color: #fff !important;
  border: 1px solid #91b4c0 !important;
}

/* 検索結果・応募入力のform_レイアウト調整 */
  /* <label>の左にある緑色の丸を消す */
.circle {
  display: none;
}
@media (max-width: 768px) {
  .whiteBox__ver1 {
    padding: 10px;
  }
  .acord .arrow_down, .mb_acord .arrow_down,
  .acord .arrow_up, .mb_acord .arrow_up {
    width: 10px;
    height: 10px;
    border-top: 2px solid  #333;
    border-right: 2px solid  #333;
  }
  .acord .arrow_down, .mb_acord .arrow_down {
    top: 5px;
  }
  .acord .arrow_up, .mb_acord .arrow_up {
    top: 10px;
  }
  .form_entry_layout .wrap_input .input_label {
    font-size: 24px;
  }
  .wrap_input .input_area .radio,
  .wrap_input .input_area .checkbox,
  .wrap_input .input_area .box label {
    font-size: 18px;
    display: block;
  }
  .wrap_input .input_area p, .wrap_input .input_area span, .btn_box_wrapout span {
    font-size: 18px;
  }
}

/* 一部テキストの調整 */
.aui p, pre, address {
  color: #333;
  font-size: 14px;
}
.tag li {
  font-size: 14px !important;
}

/*===========================================================
検索結果のページ設定
===========================================================*/

/* 「全ての一覧」のテキスト設定 */
  /* テキスト */
h1.search_headline {
  color: #333 !important;
}

/* 求人の検索フォーム_テキスト設定 */
  /* 「検索する」ボタンの背景色、テキストの設定 */
.button_search {
  background: #f09300;
  border: none;
  /* color: #333; */
}
.button_search:hover {
  /* color: #333; */
}
/* 求人の検索フォーム_レイアウト調整 */
.form_entry_layout .box {
  /* margin-top: 14px !important; */
  margin-top: 24px !important;
  margin-right: 24px !important;
}
.form_entry_layout .box:first-child {
  margin-top: 0 !important;
}
.form_entry_layout .box_ttl {
  margin-bottom: 4px !important;
}
@media screen and (max-width: 768px) {
  .form_entry_layout .wrap_input .input_label {
    margin-bottom: 10px;
  }
  .form_entry_layout .box {
    margin-top: 14px !important;
    margin-right: 0 !important;
    padding: 10px 0;
  }
  .wrap_input .input_area .checkbox {
    padding: 10px 0;
  }
  .button_search {
    width: 100% !important;
    padding: 20px 0 !important;
  }
}

/* 求人件数（○○件あり ○○～○○件を表示しています）の「○○件」部分の設定 */
  /* テキスト */
.result_number > span > span {
  color: #f09300;
}

/* 「おすすめ！」求人の設定 */
   /* 背景色・テキスト */
.result_pageid_status2 {
  background-color: #f09300;
  /* color: #333; */
}

/* 求人原稿の検索結果＿見出しの設定 */
  /* 背景色 */
.result_box_ttl {
  background-color: #ffc88c;
}
  /* テキスト（標準） */
.result_box_ttl a {
  color: #323e44;
}
  /* テキスト（カーソルホバー） */
.result_box_ttl a:hover {
  color: #323e44;
}
  /* テキスト（アクティブ） */
.result_box_ttl a:active {
  color: #323e44;
}
  /* テキスト（訪問済み） */
.result_box_ttl a:visited {
  color: #323e44;
}
  /* 見出しのレイアウト調整 */
.result_box_ttl {
  height: auto;
  padding: 15px 16px 15px 21px;
}
.result_pageid_ttl {
  float: none;
}
h1.result_pageid_ttl {
  font-size: 15px;
  line-height: 1.5;
}
.result_box_ttl_sub {
  float: none;
  font-size: 18px !important;
  line-height: 1.5;
  text-align: left;
}
p.result_box_ttl_sub {
  width: auto;
  -ms-text-overflow: clip;
  text-overflow: clip;
  white-space: normal;
}
@media screen and (max-width: 768px) {
  .result_box_ttl {
    padding: 10px;
  }
  p.result_box_ttl_sub {
    line-height: 1.5;
  }
}
/* 画像ありの求人＿レイアウト調整 */
@media screen and (max-width: 768px) {
  .result_box_cont_01 .result_box_cont_left {
    margin-bottom: 10px;
  }
}

/*===========================================================
募集詳細の設定
===========================================================*/

/* 募集詳細_「正社員・アルバイト・パート」などステータスの設定 */
  /* 背景色・テキスト */
.pageid_status {
  background-color: #f09300 !important;
  /* color: #333 !important; */
  font-size: 14px;
}

/* 「おすすめ！」求人の設定 */
   /* 背景色・テキスト */
.pageid_status2 {
  background-color: #f09300 !important;
  /* color: #333 !important; */
  font-size: 14px;
}

/* 求人原稿サブタイトルの設定 */
  /* テキスト */
.lead_area .lead_area_ttl {
  color: #333;
}

/* 画像の枠の設定 */
  /* 黄土色(#c9b793)から変更する */
div.slideshow-container,
a.thumb {
  /* background-color: #f2f2f2; */
}

/* 注目ポイントの設定 */
  /* 見出しの背景色・テキスト */
.appeal_point .wrap_input {
  background-color: #454855;
}
.appeal_point .wrap_input p {
  /* color: #333; */
  font-size: 16px;
}
  /* 内容の背景色・テキスト */
.appeal_point .wrap_input_item {
  background-color: #f9f7f8;
}
.appeal_point .wrap_input_item p {
  font-size: 14px;
  color: #333;
}

/* お仕事情報・応募情報の設定 */
  /* 見出しの設定 */
.form_entry_head {
  border-bottom: 1px solid  #333;
}
.form_entry_head h2 {
  color: #333 !important;
}
  /* 応募先電話番号_テキスト */
.infoBox .infoBox_area .tell_number_detail,
.infoBox .infoBox_area .tell_number_detail a {
  color: #666;
  text-decoration: none;
}
  /* レイアウト調整 */
.infoBox .infoBox_label {
  width: 25%;
  padding-right: 2%;
  font-size: 110%;
  display: table-cell;
}
div.slideshow-container {
  height: 350px;
  width: 461px;
}
.aui .job-apply-control-portlet div.slideshow img {
  width: 439px;
  height: 327px;
}
ul.thumbs li {
  padding: 0px 0px 10px 10px;
}
.photo_area_detail {
  height: 350px;
}

/*===========================================================
応募入力の設定
===========================================================*/
/* STEPの設定 */
  /* 背景色 */
.step {
  background-color: #454855;
}
  /* 不要な背景色を透明にする */
.head-line_step,
.head-line_step_inactive {
  background: transparent;
}
  /* 現在のSTEP_テキスト色の設定 */
.head-line_step {
  /* color: #333; */
}
  /* 現在のSTEP_数字の背景色・テキスト色の設定 */
.circle_head {
  background-color: #fff;
}
.circle_head_number p {
  color: #333;
}
  /* 現在のSTEP_三角の色設定 */
.triangle:before,
.triangle:after {
  background-color: #fff;
}
  /* 現在のSTEP以外_テキスト色の設定 */
.head-line_step_inactive {
  color: rgba(255, 255, 255, .6);
}
  /* 現在のSTEP_数字の背景色・テキスト色の設定 */
.circle_head_inactive {
  background-color: transparent;
}
.circle_head_number_inactive p {
  color: rgba(255, 255, 255, .6);
}
  /* 現在のSTEP以外_三角の色設定 */
.triangle_inactive:before,
.triangle_inactive:after {
  background-color: rgba(255, 255, 255, .6);
}
  /* 三角のレイアウト調整 */
.triangle:before,
.triangle:after,
.triangle_inactive:before,
.triangle_inactive:after {
  width: 50%;
  height: 2px;
  border: none;
}
.triangle:before,
.triangle_inactive:before {
  transform: rotate(45deg);
  right: 8px;
  top: 14px;
}
.triangle:after,
.triangle_inactive:after {
  transform: rotate(-45deg);
  bottom: 10px;
  right: 8px;
}

/* 応募入力_「正社員・アルバイト・パート」などステータスの設定 */
  /* 背景色・テキスト */
.box_style_01_ttl > div {
  background-color: #323e44 !important;
  /* color: #333; */
  font-size: 14px;
}

/* 入力項目の「必須」の設定 */
  /* 背景色・テキスト */
.badge-important {
  background-color: #f09300 !important;
  /* color: #333 !important; */
  text-shadow: none !important;
}

/* 内容確認_「←戻る」ボタンの設定 */
  /* 背景色・テキスト */
.btn_box .return_left2 {
  background: #f1f1f1;
  color: #333;
  text-shadow: none;
  border: 1px solid  #d7d7d7;
}
.btn_box .return_left2:hover {
  background: #f1f1f1;
  color: #333;
}
  /* レイアウト調整 */
@media screen and (max-width: 768px) {
  .btn_box .return_left2 {
    margin-top: 80px !important;
  }
}

/* 応募完了_「求人情報一覧へ」ボタンの設定 */
  /* 背景色・テキスト */
.button_map {
  background: #323e44;
  border: none;
}
a.btn_01.button_map {
  /* color: #333 !important; */
}
  /* レイアウト調整 */
@media screen and (max-width: 768px) {
  .button_map {
    padding: 20px 0 !important;
    font-size: 18px;
    display: block !important;
  }
}

/* 応募入力_全体のレイアウト調整 */
.box_style_01_catchcopy {
  margin-bottom: 18px !important;
}
.lead_area.no_iamge {
  padding-left: 0;
}
.lead_area.no_iamge .tell_area {
  margin-bottom: 18px;
}
.lead_area_right.no_image {
  width: 280px;
}
@media screen and (max-width: 768px) {
  .lead_area.no_iamge {
    overflow: visible;
  }
  .lead_area_right.no_image {
    width: 100%;
  }
  .lead_area.no_iamge .tell_area {
    width: 100%;
  }
  .lead_area.no_iamge .tell_area .tell {
    font-size: 18px;
  }
}

/*===========================================================
headerの設定
===========================================================*/
/* 元からある余白を消す */
header {
  padding: 0;
}
.aui h1 {
  margin: 0;
}
.logo img {
   width: 121px;
}

/*===========================================================
footerの設定
===========================================================*/
/* line 584, ../sass/style.scss */
/* line 804, ../sass/style.scss */
/* line 1123, ../sass/style.scss */
footer {
  height: 60px;
  width: 100%;
  background-color: #f18003;
}
/* line 1126, ../sass/style.scss */
footer .inner {
  height: 100%;
  width: 100%;
  max-width: 960px;
  padding: 0;
  color: #FFF;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  /* line 1126, ../sass/style.scss */
  footer .inner {
    font-size: 13px;
    flex-direction: column-reverse;
    justify-content: center;
    line-height: 1.4;
  }
}
/* line 1141, ../sass/style.scss */
footer .inner .footer_right a {
  color: #FFF;
}
/*===========================================================
検索結果のフォーム＿アコーディオンのレイアウト調整
===========================================================*/

.acord .arrow_down, .pc_acord .arrow_down,
.acord .arrow_up, .pc_acord .arrow_up {
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  width: 16px;
  height: 16px;
}
.acord .arrow_down, .pc_acord .arrow_down {
  top: 0;
}

@media screen and (max-width: 768px) {
  .form_entry_layout .box {
    padding: 0;
    margin-top: 0 !important;
  }
  .wrap_input .input_area .checkbox {
    padding: 0;
  }
  .form_entry_layout .box_ttl {
    margin-bottom: 0 !important;
  }
  .form_entry_layout .wrap_input .input_label {
    box-sizing: border-box;
  }
  .form_entry_layout .acord .input_label, .form_entry_layout .mb_acord .input_label {
    width: 100%;
  }
}

/*===========================================================
こだわり条件のレイアウト調整
===========================================================*/
.form_entry_layout .box {
  float: none;
}
p.tell {
  color: #f18003 !important;
}