@charset "UTF-8";
/* line 12, ../sass/style.scss */
.sm {
  display: none !important;
}

@media screen and (max-width: 768px) {
  /* line 16, ../sass/style.scss */
  .sm {
    display: block !important;
  }

  /* line 19, ../sass/style.scss */
  .md {
    display: none !important;
  }
}
/* line 23, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/style.scss */
body {
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  width: 100%;
  color: #000;
}

/* line 32, ../sass/style.scss */
.wrap {
  overflow: hidden;
}

/* line 35, ../sass/style.scss */
a {
  text-decoration: none;
  transition: 0.3s;
}

/* line 42, ../sass/style.scss */
ul {
  list-style: none;
}

/* line 45, ../sass/style.scss */
img {
  vertical-align: bottom;
}

/* line 48, ../sass/style.scss */
.inner {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  /* line 48, ../sass/style.scss */
  .inner {
    padding: 60px 20px 70px;
  }
}
@media screen and (max-width: 768px) {
  /* line 48, ../sass/style.scss */
  .inner {
    width: 92%;
    padding: 20px 0 30px;
  }
}

/* line 62, ../sass/style.scss */
.sec_ttl {
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  /* line 62, ../sass/style.scss */
  .sec_ttl {
    margin-bottom: 20px;
  }
}
/* line 68, ../sass/style.scss */
.sec_ttl img {
  height: 50px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  /* line 68, ../sass/style.scss */
  .sec_ttl img {
    height: 40px;
  }
}
/* line 75, ../sass/style.scss */
.sec_ttl h2 {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  /* line 75, ../sass/style.scss */
  .sec_ttl h2 {
    font-size: 24px;
  }
}

/* line 82, ../sass/style.scss */
header {
  width: 100%;
  height: 100px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  /* line 82, ../sass/style.scss */
  header {
    height: 50px;
  }
}
/* line 93, ../sass/style.scss */
header .inner {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  /* line 93, ../sass/style.scss */
  header .inner {
    width: 100%;
  }
}
/* line 103, ../sass/style.scss */
header .inner .header_logo img {
  width: 121px;
  position: relative;
  left: -14px;
}
@media screen and (max-width: 768px) {
  /* line 103, ../sass/style.scss */
  header .inner .header_logo img {
    width: auto;
    height: 46px;
    left: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* line 114, ../sass/style.scss */
  header .inner .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(241, 128, 3, 0.9);
  }
}
/* line 123, ../sass/style.scss */
header .inner .menu ul {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  /* line 123, ../sass/style.scss */
  header .inner .menu ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
}
/* line 132, ../sass/style.scss */
header .inner .menu ul li {
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  /* line 132, ../sass/style.scss */
  header .inner .menu ul li {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
}
/* line 139, ../sass/style.scss */
header .inner .menu ul li:last-child {
  margin-right: 0;
}
/* line 142, ../sass/style.scss */
header .inner .menu ul li a {
  color: #454855;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 9px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 142, ../sass/style.scss */
  header .inner .menu ul li a {
    color: #FFF;
    display: inline-block;
    width: 100%;
    padding: 20px;
  }
}
/* line 154, ../sass/style.scss */
header .inner .menu ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #f18003;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
@media screen and (max-width: 768px) {
  /* line 154, ../sass/style.scss */
  header .inner .menu ul li a::after {
    display: none;
  }
}
/* line 169, ../sass/style.scss */
header .inner .menu ul li a:hover {
  color: #f18003;
}
/* line 170, ../sass/style.scss */
header .inner .menu ul li a:hover::after {
  transform: scale(1, 1);
}
/* line 179, ../sass/style.scss */
header .inner .menu_ham {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #f18003;
}
@media screen and (max-width: 768px) {
  /* line 179, ../sass/style.scss */
  header .inner .menu_ham {
    display: block;
  }
}
/* line 189, ../sass/style.scss */
header .inner .menu_ham .ham_line {
  position: absolute;
  left: 12.5px;
  width: 25px;
  height: 1px;
  background-color: #FFF;
  transition: all 0.3s;
}
/* line 197, ../sass/style.scss */
header .inner .menu_ham .ham_line1 {
  top: 17px;
}
/* line 200, ../sass/style.scss */
header .inner .menu_ham .ham_line2 {
  top: 25px;
}
/* line 203, ../sass/style.scss */
header .inner .menu_ham .ham_line3 {
  top: 33px;
}
/* line 206, ../sass/style.scss */
header .inner .menu_ham .active.ham_line1 {
  transform: rotate(45deg);
  top: 25px;
}
/* line 210, ../sass/style.scss */
header .inner .menu_ham .active.ham_line2 {
  width: 0;
}
/* line 213, ../sass/style.scss */
header .inner .menu_ham .active.ham_line3 {
  transform: rotate(-45deg);
  top: 25px;
}

/* line 221, ../sass/style.scss */
#kv {
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  /* line 221, ../sass/style.scss */
  #kv {
    padding-top: 50px;
  }
}
/* line 226, ../sass/style.scss */
#kv .inner {
  padding: 0;
  max-width: none;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 232, ../sass/style.scss */
#kv .inner .img {
  z-index: -1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 238, ../sass/style.scss */
#kv .inner .img img {
  width: 100%;
}
/* line 242, ../sass/style.scss */
#kv .inner .ttl {
  position: absolute;
  bottom: 70px;
  left: 70px;
}
@media screen and (max-width: 1024px) {
  /* line 242, ../sass/style.scss */
  #kv .inner .ttl {
    bottom: 35px;
    left: 35px;
  }
}
@media screen and (max-width: 768px) {
  /* line 242, ../sass/style.scss */
  #kv .inner .ttl {
    bottom: 20px;
    left: 20px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 255, ../sass/style.scss */
  #kv .inner .ttl h1 img {
    width: 64%;
  }
}

/* line 265, ../sass/style.scss */
#sec_01 {
  background: url(../img/bg_01.png);
}
/* line 267, ../sass/style.scss */
#sec_01 .inner {
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  max-width: none;
  width: 100%;
}
/* line 277, ../sass/style.scss */
#sec_01 .inner .sec_ttl h2 {
  color: #FFF;
}
/* line 281, ../sass/style.scss */
#sec_01 .inner .detail {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  /* line 281, ../sass/style.scss */
  #sec_01 .inner .detail {
    width: 92%;
    margin-bottom: 30px;
  }
}
/* line 289, ../sass/style.scss */
#sec_01 .inner .detail p {
  color: #FFF;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  /* line 289, ../sass/style.scss */
  #sec_01 .inner .detail p {
    font-size: 14px;
  }
}
/* line 297, ../sass/style.scss */
#sec_01 .inner table {
  width: 700px;
  margin: 0 auto 70px;
}
@media screen and (max-width: 768px) {
  /* line 297, ../sass/style.scss */
  #sec_01 .inner table {
    width: 92%;
    margin-bottom: 40px;
  }
}
/* line 304, ../sass/style.scss */
#sec_01 .inner table tr {
  color: #FFF;
  border-bottom: 1px solid #c2d8f2;
  text-align-last: left;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  /* line 304, ../sass/style.scss */
  #sec_01 .inner table tr {
    font-size: 14px;
  }
}
/* line 312, ../sass/style.scss */
#sec_01 .inner table tr th {
  font-weight: normal;
  padding: 12px 0 12px 20px;
}
@media screen and (max-width: 768px) {
  /* line 312, ../sass/style.scss */
  #sec_01 .inner table tr th {
    padding: 6px 0 6px 10px;
  }
}
/* line 325, ../sass/style.scss */
#sec_01 .inner .google_map iframe {
  vertical-align: bottom;
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 768px) {
  /* line 325, ../sass/style.scss */
  #sec_01 .inner .google_map iframe {
    height: 300px;
  }
}

/* line 337, ../sass/style.scss */
#sec_02 {
  background: url(../img/bg_02.png);
}
/* line 341, ../sass/style.scss */
#sec_02 .inner .sec_ttl h2 {
  color: #FFF;
}
/* line 345, ../sass/style.scss */
#sec_02 .inner .item_list {
  display: flex;
  flex-wrap: wrap;
}
/* line 348, ../sass/style.scss */
#sec_02 .inner .item_list .item {
  width: calc(99.9% / 4 - 15px);
  height: auto;
  background-color: #FFF;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  /* line 348, ../sass/style.scss */
  #sec_02 .inner .item_list .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    height: auto;
    padding: 15px;
  }
}
/* line 366, ../sass/style.scss */
#sec_02 .inner .item_list .item:nth-child(n+5) {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 366, ../sass/style.scss */
  #sec_02 .inner .item_list .item:nth-child(n+5) {
    margin-bottom: 10px;
  }
}
/* line 372, ../sass/style.scss */
#sec_02 .inner .item_list .item:nth-child(4n) {
  margin-right: 0;
}
/* line 375, ../sass/style.scss */
#sec_02 .inner .item_list .item .item_ttl {
  text-align: center;
  color: #f18003;
  margin-bottom: 20px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}
@media screen and (max-width: 768px) {
  /* line 375, ../sass/style.scss */
  #sec_02 .inner .item_list .item .item_ttl {
    margin-bottom: 10px;
  }
}
/* line 385, ../sass/style.scss */
#sec_02 .inner .item_list .item .item_ttl h3 {
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
}
/* line 391, ../sass/style.scss */
#sec_02 .inner .item_list .item .item_ttl .two_row {
  padding-top: 0;
}
/* line 395, ../sass/style.scss */
#sec_02 .inner .item_list .item .item_icon {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 395, ../sass/style.scss */
  #sec_02 .inner .item_list .item .item_icon {
    margin-bottom: 10px;
  }
}
/* line 400, ../sass/style.scss */
#sec_02 .inner .item_list .item .item_icon img {
  height: 100px;
}
@media screen and (max-width: 768px) {
  /* line 400, ../sass/style.scss */
  #sec_02 .inner .item_list .item .item_icon img {
    height: 80px;
  }
}
/* line 407, ../sass/style.scss */
#sec_02 .inner .item_list .item .detail {
  word-break: break-all;
  width: 100%;
}
/* line 410, ../sass/style.scss */
#sec_02 .inner .item_list .item .detail p {
  font-size: 14px;
  line-height: 22px;
  color: #454855;
}

/* line 422, ../sass/style.scss */
#sec_03 {
  background: url(../img/bg_01.png);
  z-index: 0;
  position: relative;
}
/* line 426, ../sass/style.scss */
#sec_03::before {
  content: '';
  width: 100%;
  height: 410px;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  /* line 426, ../sass/style.scss */
  #sec_03::before {
    height: 190px;
  }
}
/* line 441, ../sass/style.scss */
#sec_03 .inner .sec_ttl h2 {
  color: #f18003;
}
/* line 446, ../sass/style.scss */
#sec_03 .inner .interview_top img {
  width: 100%;
}
/* line 450, ../sass/style.scss */
#sec_03 .inner .employees {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 450, ../sass/style.scss */
  #sec_03 .inner .employees {
    padding: 20px 0;
    flex-direction: column;
  }
}
/* line 459, ../sass/style.scss */
#sec_03 .inner .employees .employee {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  /* line 459, ../sass/style.scss */
  #sec_03 .inner .employees .employee {
    justify-content: center;
    margin-left: 20px;
  }
  /* line 465, ../sass/style.scss */
  #sec_03 .inner .employees .employee:first-child {
    margin-bottom: 40px;
  }
}
/* line 469, ../sass/style.scss */
#sec_03 .inner .employees .employee .img {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  /* line 469, ../sass/style.scss */
  #sec_03 .inner .employees .employee .img {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  /* line 474, ../sass/style.scss */
  #sec_03 .inner .employees .employee .img img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 480, ../sass/style.scss */
  #sec_03 .inner .employees .employee .txt {
    width: 60%;
  }
}
/* line 484, ../sass/style.scss */
#sec_03 .inner .employees .employee .txt p {
  font-size: 20px;
  line-height: 1.7;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 484, ../sass/style.scss */
  #sec_03 .inner .employees .employee .txt p {
    font-size: 18px;
  }
}
/* line 494, ../sass/style.scss */
#sec_03 .inner .employees .multiply {
  display: block;
  position: absolute;
  top: 50%;
  left: 47%;
}
@media screen and (max-width: 768px) {
  /* line 494, ../sass/style.scss */
  #sec_03 .inner .employees .multiply {
    width: 30%;
    left: 44%;
  }
}
/* line 503, ../sass/style.scss */
#sec_03 .inner .employees .multiply::before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(45deg);
}
@media screen and (max-width: 768px) {
  /* line 503, ../sass/style.scss */
  #sec_03 .inner .employees .multiply::before {
    width: 40px;
    height: 3px;
    top: 0;
  }
}
/* line 519, ../sass/style.scss */
#sec_03 .inner .employees .multiply::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(135deg);
}
@media screen and (max-width: 768px) {
  /* line 519, ../sass/style.scss */
  #sec_03 .inner .employees .multiply::after {
    width: 40px;
    height: 3px;
    top: 0;
  }
}
/* line 538, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content {
  padding: 40px 50px 56px;
  background-color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 538, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content {
    padding: 15px 15px 40px;
  }
}
/* line 544, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content:first-child {
  margin-bottom: 50px;
}
/* line 547, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .content_ttl {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 547, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .content_ttl {
    margin-bottom: 10px;
  }
}
/* line 555, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .content_ttl span {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 30px;
  background-color: #f18003;
  color: #FFF;
  font-size: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  /* line 555, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .content_ttl span {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
/* line 572, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .content_ttl h3 {
  color: #454855;
  font-size: 20px;
  line-height: 1.7;
  width: 90%;
}
@media screen and (max-width: 768px) {
  /* line 572, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .content_ttl h3 {
    font-size: 17px;
    line-height: 1.5;
    width: 80%;
  }
}
/* line 584, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation {
  width: 100%;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  /* line 584, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  /* line 593, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) {
    flex-direction: column-reverse;
  }
}
/* line 597, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) .txt {
  margin-right: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 597, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) .txt {
    margin-right: 0;
  }
}
/* line 603, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) .txt::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-left: 20px solid #c2d8f2;
  border-bottom: 15px solid transparent;
  position: absolute;
  right: -36px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  /* line 603, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) .txt::before {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #c2d8f2;
    right: 35px;
    top: -15px;
  }
}
/* line 625, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) .txt::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-left: 20px solid #FFF;
  border-bottom: 15px solid transparent;
  position: absolute;
  right: -31px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  /* line 625, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) .txt::after {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #FFF;
    right: 35px;
    top: -10px;
  }
}
/* line 648, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(odd) .img {
  text-align: right;
}
/* line 652, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  /* line 652, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) {
    flex-direction: column-reverse;
  }
}
/* line 657, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) .txt {
  margin-left: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 657, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) .txt {
    margin-left: 0;
  }
}
/* line 663, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) .txt::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid #c2d8f2;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  /* line 663, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) .txt::before {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #c2d8f2;
    left: 35px;
    top: -15px;
  }
}
/* line 685, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) .txt::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid #FFF;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  left: -31px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  /* line 685, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) .txt::after {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #FFF;
    left: 35px;
    top: -10px;
  }
}
/* line 708, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:nth-child(even) .img {
  text-align: left;
}
/* line 712, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation:last-child {
  margin-bottom: 0;
}
/* line 715, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation .txt {
  width: 100%;
  padding: 20px;
  border: 3px solid #c2d8f2;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  /* line 715, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation .txt {
    padding: 10px;
  }
}
/* line 723, ../sass/style.scss */
#sec_03 .inner .interview_content_box .interview_content .conversation .txt p {
  color: #454855;
  line-height: 1.56;
}
@media screen and (max-width: 768px) {
  /* line 723, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation .txt p {
    font-size: 14px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 768px) {
  /* line 732, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation .img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* line 737, ../sass/style.scss */
  #sec_03 .inner .interview_content_box .interview_content .conversation .img img {
    width: 30%;
  }
}

/* line 749, ../sass/style.scss */
#sec_04 {
  background: url(../img/bg_02.png);
}
/* line 753, ../sass/style.scss */
#sec_04 .inner .sec_ttl h2 {
  color: #FFF;
}
/* line 758, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type {
  background-color: #FFF;
  padding: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  /* line 758, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type {
    padding: 20px;
    margin-bottom: 20px;
  }
}
/* line 766, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type:last-child {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  /* line 766, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type:last-child {
    margin-bottom: 30px;
  }
}
/* line 772, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type:last-child .type_item_list .item {
  width: calc(50% - 10px);
}
@media screen and (max-width: 768px) {
  /* line 772, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type:last-child .type_item_list .item {
    width: 100%;
  }
}
/* line 780, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_ttl {
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  /* line 780, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type .type_ttl {
    margin-bottom: 20px;
  }
}
/* line 786, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_ttl h3 {
  color: #454855;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  /* line 786, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type .type_ttl h3 {
    font-size: 20px;
  }
}
/* line 794, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  /* line 794, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type .type_item_list {
    flex-wrap: wrap;
  }
}
/* line 800, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item {
  width: calc((99.9% / 3) - (40px / 3));
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 800, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type .type_item_list .item {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 807, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item:last-child {
  margin-bottom: 0;
}
/* line 810, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a {
  text-align: center;
  width: 100%;
  padding: 38px 0;
  display: inline-block;
  color: #FFF;
  background-color: #454855;
  font-size: 24px;
  transition: all .3s;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  /* line 810, ../sass/style.scss */
  #sec_04 .inner .search_type_list .search_type .type_item_list .item a {
    font-size: 20px;
    padding: 28px 0;
  }
}
/* line 825, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a::after {
  transition: all .3s;
  content: "";
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 0 2px #454855 inset;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
/* line 837, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a:hover {
  color: #454855;
}
/* line 839, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
/* line 844, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a:hover .arrow {
  background-color: #454855;
}
/* line 846, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a:hover .arrow::before {
  background-color: #454855;
}
/* line 849, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a:hover .arrow::after {
  background-color: #454855;
}
/* line 854, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a .arrow {
  width: 26px;
  height: 2px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transition: all .3s;
}
/* line 865, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a .arrow::before {
  content: '';
  display: block;
  width: 13px;
  height: 2px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: 0px;
  top: calc(50% - 5px);
  transform: rotateZ(45deg) translateY(-50%);
  transition: all .3s;
}
/* line 878, ../sass/style.scss */
#sec_04 .inner .search_type_list .search_type .type_item_list .item a .arrow::after {
  content: '';
  display: block;
  width: 13px;
  height: 2px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: -2px;
  top: calc(50% + 4px);
  transform: rotateZ(-45deg) translateY(-50%);
  transition: all .3s;
}
/* line 899, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box {
  margin: 0 auto;
  width: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 899, ../sass/style.scss */
  #sec_04 .inner .recruitment_btn .box {
    width: 100%;
  }
}
/* line 906, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a {
  text-align: center;
  width: 500px;
  padding: 38px 0;
  display: inline-block;
  color: #454855;
  background-color: #FFF;
  font-size: 24px;
  transition: all .3s;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  /* line 906, ../sass/style.scss */
  #sec_04 .inner .recruitment_btn .box a {
    width: 100%;
    padding: 28px 0;
    font-size: 22px;
  }
}
/* line 922, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a::after {
  transition: all .3s;
  content: "";
  position: absolute;
  background-color: #454855;
  box-shadow: 0 0 0 2px #454855 inset;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
/* line 934, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a:hover {
  color: #FFF;
}
/* line 936, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
/* line 941, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a:hover .arrow {
  background-color: #FFF;
}
/* line 943, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a:hover .arrow::before {
  background-color: #FFF;
}
/* line 946, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a:hover .arrow::after {
  background-color: #FFF;
}
/* line 951, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a .arrow {
  width: 26px;
  height: 2px;
  background-color: #454855;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
}
/* line 961, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a .arrow::before {
  content: '';
  display: block;
  width: 13px;
  height: 2px;
  background-color: #454855;
  border-radius: 3px;
  position: absolute;
  right: 0px;
  top: calc(50% - 5px);
  transform: rotateZ(45deg) translateY(-50%);
  transition: all .3s;
}
/* line 974, ../sass/style.scss */
#sec_04 .inner .recruitment_btn .box a .arrow::after {
  content: '';
  display: block;
  width: 13px;
  height: 2px;
  background-color: #454855;
  border-radius: 3px;
  position: absolute;
  right: -2px;
  top: calc(50% + 4px);
  transform: rotateZ(-45deg) translateY(-50%);
  transition: all .3s;
}

/* line 997, ../sass/style.scss */
#sec_05 .inner .sec_ttl h2 {
  color: #f18003;
}
/* line 1002, ../sass/style.scss */
#sec_05 .inner .question_list .item {
  width: 100%;
}
/* line 1004, ../sass/style.scss */
#sec_05 .inner .question_list .item .question {
  cursor: pointer;
  height: 60px;
  background-color: #454855;
  color: #FFF;
  font-size: 18px;
  line-height: 1.888;
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 10px;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  /* line 1004, ../sass/style.scss */
  #sec_05 .inner .question_list .item .question {
    height: 46px;
    margin-bottom: 10px;
  }
}
/* line 1022, ../sass/style.scss */
#sec_05 .inner .question_list .item .question span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
  background-color: #FFF;
  color: #454855;
  font-size: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  /* line 1022, ../sass/style.scss */
  #sec_05 .inner .question_list .item .question span {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  /* line 1040, ../sass/style.scss */
  #sec_05 .inner .question_list .item .question p {
    font-size: 14px;
    line-height: 1.3;
    display: inline-block;
    width: 80%;
  }
}
/* line 1048, ../sass/style.scss */
#sec_05 .inner .question_list .item .question .arrow {
  width: 2px;
  height: 20px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transition: all .3s;
}
/* line 1059, ../sass/style.scss */
#sec_05 .inner .question_list .item .question .arrow::before {
  content: '';
  display: block;
  width: 8px;
  height: 2px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: 0px;
  top: calc(50% + 7px);
  transform: rotateZ(45deg) translateY(-50%);
  transition: all .3s;
}
/* line 1072, ../sass/style.scss */
#sec_05 .inner .question_list .item .question .arrow::after {
  content: '';
  display: block;
  width: 8px;
  height: 2px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: -6px;
  top: calc(50% + 7px);
  transform: rotateZ(-45deg) translateY(-50%);
  transition: all .3s;
}
/* line 1086, ../sass/style.scss */
#sec_05 .inner .question_list .item .question.active {
  background-color: #f18003;
}
/* line 1089, ../sass/style.scss */
#sec_05 .inner .question_list .item .question.active .arrow::before {
  content: '';
  display: block;
  width: 8px;
  height: 2px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: -5px;
  top: calc(50% - 7px);
  transform: rotateZ(45deg) translateY(-50%);
  transition: all .3s;
}
/* line 1102, ../sass/style.scss */
#sec_05 .inner .question_list .item .question.active .arrow::after {
  content: '';
  display: block;
  width: 8px;
  height: 2px;
  background-color: #FFF;
  border-radius: 3px;
  position: absolute;
  right: -1px;
  top: calc(50% - 7px);
  transform: rotateZ(-45deg) translateY(-50%);
  transition: all .3s;
}
/* line 1118, ../sass/style.scss */
#sec_05 .inner .question_list .item .answer {
  display: none;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  /* line 1118, ../sass/style.scss */
  #sec_05 .inner .question_list .item .answer {
    margin-bottom: 20px;
  }
}
/* line 1124, ../sass/style.scss */
#sec_05 .inner .question_list .item .answer p {
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  /* line 1124, ../sass/style.scss */
  #sec_05 .inner .question_list .item .answer p {
    font-size: 14px;
  }
}

/* line 1136, ../sass/style.scss */
footer {
  height: 60px;
  background-color: #f18003;
}
/* line 1139, ../sass/style.scss */
footer .inner {
  height: 100%;
  padding: 0;
  color: #FFF;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  /* line 1139, ../sass/style.scss */
  footer .inner {
    font-size: 13px;
    flex-direction: column-reverse;
    justify-content: center;
    line-height: 1.4;
  }
}
/* line 1154, ../sass/style.scss */
footer .inner .footer_right a {
  color: #FFF;
}
