//=================================
// media query
//=================================
@mixin tb_max {
	@media screen and (max-width: $breakpoint-tb) {
		@content;
	}
}
@mixin sm_max {
	@media screen and (max-width: $breakpoint-sm) {
		@content;
	}
}
// breackpoint
$breakpoint-tb: 1024px;
$breakpoint-sm: 768px;