// mixin //
@import "./mixin";

// color
$color01: #000;
$color02: #FFF;
$color03: #f18003;
$color04: #454855;
$color05: #c2d8f2;

// pc,sp切り替え
.sm{
	display: none !important;
}
@include sm_max {
	.sm{
		display: block !important;
	}
	.md{
		display: none !important;
	}
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
body {
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    width: 100%;
    color: $color01;
}
.wrap {
    overflow: hidden;
}
a {
    text-decoration: none;
    transition: 0.3s;
    &:hover {

    }
}
ul {
    list-style: none;
}
img {
    vertical-align: bottom;
}
.inner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 70px;
    @include tb_max {
        padding: 60px 20px 70px;
    }
    @include sm_max {
        width: 92%;
        padding: 20px 0 30px;
    }
}
.sec_ttl {
    text-align: center;
    margin-bottom: 50px;
    @include sm_max {
        margin-bottom: 20px;
    }
    img {
        height: 50px;
        margin-bottom: 10px;
        @include sm_max {
            height: 40px;
        }
    }
    h2 {
        font-size: 30px;
        @include sm_max {
            font-size: 24px;
        }
    }
}
header {
    width: 100%;
    height: 100px;
    background-color: $color02;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include sm_max {
        height: 50px;
    }
    .inner {
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include sm_max {
            width: 100%;
        }
        .header_logo {
            img {
                width: 121px;
                position: relative;
                left: -14px;
                @include sm_max {
                    width: auto;
                    height: 46px;
                    left: 0px;
                }
            }
        }
        .menu {
            @include sm_max {
                display: none;
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                background-color: rgba($color03, 0.9);
            }
            ul {
                display: flex;
                align-items: center;
                @include sm_max {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    padding: 20px 0;
                }
                li {
                    margin-right: 40px;
                    @include sm_max {
                        width: 100%;
                        margin-right: 0;
                        text-align: center;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: $color04;
                        font-weight: bold;
                        font-size: 18px;
                        padding-bottom: 9px;
                        position: relative;
                        @include sm_max {
                            color: $color02;
                            display: inline-block;
                            width: 100%;
                            padding: 20px;
                        }
                        &::after {
                            position: absolute;
                            bottom: -4px;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: $color03;
                            transform: scale(0, 1);
                            transform-origin: left top;
                            transition: transform .3s;
                            @include sm_max {
                                display: none;
                            }
                        }
                        &:hover {
                            &::after {
                                transform: scale(1, 1);
                            }
                            color: $color03;
                        }
                    }
                }
            }
        }
        .menu_ham {
            display: none;
            @include sm_max {
                display: block;
            }
            position: relative;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: $color03;
            .ham_line {
                position: absolute;
                left: 12.5px;
                width: 25px;
                height: 1px;
                background-color: $color02;
                transition: all 0.3s;
            }
            .ham_line1 {
                top: 17px;
            }
            .ham_line2 {
                top: 25px;
            }
            .ham_line3 {
                top: 33px;
            }
            .active.ham_line1{
                transform: rotate(45deg);
                top: 25px;
            }
            .active.ham_line2 {
                width: 0;
            }
            .active.ham_line3 {
                transform: rotate(-45deg);
                top: 25px;
            }
        }
    }
}

#kv {
    padding-top: 100px;
    @include sm_max {
        padding-top: 50px;
    }
    .inner {
        padding: 0;
        max-width: none;
        width: 100%;
        height: 100%;
        position: relative;
        .img {
            z-index: -1;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .ttl {
            position: absolute;
            bottom: 70px;
            left: 70px;
            @include tb_max {
                bottom: 35px;
                left: 35px;
            }
            @include sm_max {
                bottom: 20px;
                left: 20px;
            }
            h1 {
                img {
                    @include tb_max {
                        width: 64%;
                    }
                }
            }
        }
    }
}

#sec_01 {
    background: url(../img/bg_01.png);
    .inner {
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        max-width: none;
        width: 100%;
        @include sm_max {
            
        }
        .sec_ttl {
            h2 {
                color: $color02;
            }
        }
        .detail {
            width: 700px;
            margin: 0 auto;
            margin-bottom: 50px;
            @include sm_max {
                width: 92%;
                margin-bottom: 30px;
            }
            p {
                color: $color02;
                line-height: 2;
                @include sm_max {
                    font-size: 14px;
                }
            }
        }
        table {
            width: 700px;
            margin: 0 auto 70px;
            @include sm_max {
                width: 92%;
                margin-bottom: 40px;
            }
            tr {
                color: $color02;
                border-bottom: 1px solid $color05;
                text-align-last: left;
                line-height: 2;
                @include sm_max {
                    font-size: 14px;
                }
                th {
                    font-weight: normal;
                    padding: 12px 0 12px 20px;
                    @include sm_max {
                        padding: 6px 0 6px 10px;
                    }
                }
                td {
                    
                }
            }
        }
        .google_map {
            iframe {
                vertical-align: bottom;
                width: 100%;
                height: 500px;
                @include sm_max {
                    height: 300px;
                }
            }
        }
    }
}

#sec_02 {
    background: url(../img/bg_02.png);
    .inner {
        .sec_ttl {
            h2 {
                color: $color02;
            }
        }
        .item_list {
            display: flex;
            flex-wrap: wrap;
            .item {
                width: calc(99.9% / 4 - 15px);
                height: auto;
                background-color: $color02;
                margin-right: 20px;
                margin-bottom: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                @include sm_max {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 10px;
                    height: auto;
                    padding: 15px;
                }
                &:nth-child(n+5) {
                    margin-bottom: 0;
                    @include sm_max {
                        margin-bottom: 10px;
                    }
                }
                &:nth-child(4n) {
                    margin-right: 0;
                }
                .item_ttl {
                    text-align: center;
                    color: $color03;
                    margin-bottom: 20px;
                    display: table-cell;
                    vertical-align: middle;
                    height: 50px;
                    @include sm_max {
                        margin-bottom: 10px;
                    }
                    h3 {
                        vertical-align: middle;
                        font-size: 18px;
                        line-height: 24px;
                        //padding-top: 10px;
                    }
                    .two_row {
                        padding-top: 0;
                    }
                }
                .item_icon {
                    margin-bottom: 20px;
                    @include sm_max {
                        margin-bottom: 10px;
                    }
                    img {
                        height: 100px;
                        @include sm_max {
                            height: 80px;
                        }
                    }
                }
                .detail {
                    word-break: break-all;
                    width: 100%;
                    p {
                        font-size: 14px;
                        line-height: 22px;
                        color: $color04;
                        
                    }
                }
            }
        }
    }
}

#sec_03 {
    background: url(../img/bg_01.png);
    z-index: 0;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 410px;
        background-color: $color02;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @include sm_max {
            height: 190px;
        }
    }
    .inner {
        .sec_ttl {
            h2 {
                color: $color03;
            }
        }
        .interview_top {
            img {
                width: 100%;
            }
        }
        .employees {
            display: flex;
            justify-content: space-between;
            padding: 40px 0;
            position: relative;
            @include sm_max {
                padding: 20px 0;
                flex-direction: column;
            }
            .employee {
                display: flex;
                align-items: center;
                @include sm_max {
                    justify-content: center;
                    margin-left: 20px;
                    &:first-child {
                        margin-bottom: 40px;
                    }
                }
                .img {
                    margin-right: 20px;
                    @include sm_max {
                        width: 25%;
                    }
                    img {
                        @include sm_max {
                            width: 100%;
                        }
                    }
                }
                .txt {
                    @include sm_max {
                        width: 60%;
                    }
                    p {
                        font-size: 20px;
                        line-height: 1.7;
                        color: $color02;
                        @include sm_max {
                            font-size: 18px;
                        }
                    }
                }
            }
            .multiply {
                display: block;
                position: absolute;
                top: 50%;
                left: 47%;
                @include sm_max {
                    width: 30%;
                    left: 44%;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 4px;
                    background-color: $color02;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotateZ(45deg);
                    @include sm_max {
                        width: 40px;
                        height: 3px;
                        top: 0;
                    }
                }
                &::after {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 4px;
                    background-color: $color02;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotateZ(135deg);
                    @include sm_max {
                        width: 40px;
                        height: 3px;
                        top: 0;
                    }
                }
            }
        }
        .interview_content_box {
            .interview_content {
                padding: 40px 50px 56px;
                background-color: $color02;
                @include sm_max {
                    padding: 15px 15px 40px;
                }
                &:first-child {
                    margin-bottom: 50px;
                }
                .content_ttl {
                    margin-bottom: 40px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    @include sm_max {
                        margin-bottom: 10px;
                    }
                    span {
                        display: inline-block;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        border-radius: 30px;
                        background-color: $color03;
                        color: $color02;
                        font-size: 20px;
                        margin-right: 10px;
                        @include sm_max {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                    h3 {
                        color: $color04;
                        font-size: 20px;
                        line-height: 1.7;
                        width: 90%;
                        @include sm_max {
                            font-size: 17px;
                            line-height: 1.5;
                            width: 80%;
                        }
                    }
                }
                .conversation {
                    width: 100%;
                    margin-bottom: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include sm_max {
                        margin-bottom: 10px;
                    }
                    &:nth-child(odd) {
                        @include sm_max {
                            flex-direction: column-reverse;
                        }
                        .txt {
                            margin-right: 50px;
                            position: relative;
                            @include sm_max {
                                margin-right: 0;
                            }
                            &::before {
                                content: '';
                                display: block;
                                width: 0;
                                height: 0;
                                border-top: 15px solid transparent;
                                border-right: 15px solid transparent;
                                border-left: 20px solid $color05;
                                border-bottom: 15px solid transparent;
                                position: absolute;
                                right: -36px;
                                top: 50%;
                                transform: translateY(-50%);
                                @include sm_max {
                                    border-top: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-left: 10px solid transparent;
                                    border-bottom: 15px solid $color05;
                                    right: 35px;
                                    top: -15px;
                                }
                            }
                            &::after {
                                content: '';
                                display: block;
                                width: 0;
                                height: 0;
                                border-top: 15px solid transparent;
                                border-right: 15px solid transparent;
                                border-left: 20px solid $color02;
                                border-bottom: 15px solid transparent;
                                position: absolute;
                                right: -31px;
                                top: 50%;
                                transform: translateY(-50%);
                                @include sm_max {
                                    border-top: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-left: 10px solid transparent;
                                    border-bottom: 15px solid $color02;
                                    right: 35px;
                                    top: -10px;
                                }
                            }
                        }
                        .img {
                            text-align: right;
                        }
                    }
                    &:nth-child(even) {
                        flex-direction: row-reverse;
                        @include sm_max {
                            flex-direction: column-reverse;
                        }
                        .txt {
                            margin-left: 50px;
                            position: relative;
                            @include sm_max {
                                margin-left: 0;
                            }
                            &::before {
                                content: '';
                                display: block;
                                width: 0;
                                height: 0;
                                border-top: 15px solid transparent;
                                border-right: 20px solid $color05;
                                border-left: 15px solid transparent;
                                border-bottom: 15px solid transparent;
                                position: absolute;
                                left: -36px;
                                top: 50%;
                                transform: translateY(-50%);
                                @include sm_max {
                                    border-top: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-left: 10px solid transparent;
                                    border-bottom: 15px solid $color05;
                                    left: 35px;
                                    top: -15px;
                                }
                            }
                            &::after {
                                content: '';
                                display: block;
                                width: 0;
                                height: 0;
                                border-top: 15px solid transparent;
                                border-right: 20px solid $color02;
                                border-left: 15px solid transparent;
                                border-bottom: 15px solid transparent;
                                position: absolute;
                                left: -31px;
                                top: 50%;
                                transform: translateY(-50%);
                                @include sm_max {
                                    border-top: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-left: 10px solid transparent;
                                    border-bottom: 15px solid $color02;
                                    left: 35px;
                                    top: -10px;
                                }
                            }
                        }
                        .img {
                            text-align: left;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .txt {
                        width: 100%;
                        padding: 20px;
                        border: 3px solid $color05;
                        border-radius: 10px;
                        @include sm_max {
                            padding: 10px;
                        }
                        p {
                            color: $color04;
                            line-height: 1.56;
                            @include sm_max {
                                font-size: 14px;
                                line-height: 1.3;
                            }
                        }
                    }
                    .img {
                        @include sm_max {
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        img {
                            @include sm_max {
                                width: 30%;    
                            }
                        }
                    }
                }
            }
        }
    }
}

#sec_04 {
    background: url(../img/bg_02.png);
    .inner {
        .sec_ttl {
            h2 {
                color: $color02;
            }
        }
        .search_type_list {
            .search_type {
                background-color: $color02;
                padding: 40px;
                margin-bottom: 40px;
                @include sm_max {
                    padding: 20px;
                    margin-bottom: 20px;
                }
                &:last-child {
                    margin-bottom: 70px;
                    @include sm_max {
                        margin-bottom: 30px;
                    }
                    .type_item_list {
                        .item {
                            width: calc(50% - 10px);
                            @include sm_max {
                                width: 100%;
                            }
                        }
                    }
                }
                .type_ttl {
                    text-align: center;
                    margin-bottom: 28px;
                    @include sm_max {
                        margin-bottom: 20px;
                    }
                    h3 {
                        color: $color04;
                        font-size: 24px;
                        @include sm_max {
                            font-size: 20px;
                        }
                    }
                }
                .type_item_list {
                    display: flex;
                    justify-content: space-between;
                    @include sm_max {
                        flex-wrap: wrap;
                    }
                    .item {
                        width: calc((99.9% / 3) - (40px / 3));
                        position: relative;
                        @include sm_max {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            text-align: center;
                            width: 100%;
                            padding: 38px 0;
                            display: inline-block;
                            color: $color02;
                            background-color: $color04;
                            font-size: 24px;
                            transition: all .3s;
                            position: relative;
                            z-index: 2;
                            @include sm_max {
                                font-size: 20px;
                                padding: 28px 0;
                            }
                            &::after {
                                transition: all .3s;
                                content: "";
                                position: absolute;
                                background-color: #fff;
                                box-shadow: 0 0 0 2px $color04 inset;
                                width: 0;
                                height: 100%;
                                top: 0;
                                right: 0;
                                z-index: -1;
                            }
                            &:hover {
                                color: $color04;
                                &::after {
                                    width: 100%;
                                    right: auto;
                                    left: 0;
                                }
                                .arrow {
                                    background-color: $color04;
                                    &::before {
                                        background-color: $color04;
                                    }
                                    &::after {
                                        background-color: $color04;
                                    }
                                }
                            }
                            .arrow {
                                width: 26px;
                                height: 2px;
                                background-color: $color02;
                                border-radius: 3px;
                                position: absolute;
                                right: 20px;
                                top: 50%;
                                transform: translateY(-50%);
                                z-index: 3;
                                transition: all .3s;
                                &::before {
                                    content: '';
                                    display: block;
                                    width: 13px;
                                    height: 2px;
                                    background-color: $color02;
                                    border-radius: 3px;
                                    position: absolute;
                                    right: 0px;
                                    top: calc(50% - 5px);
                                    transform: rotateZ(45deg) translateY(-50%);
                                    transition: all .3s;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 13px;
                                    height: 2px;
                                    background-color: $color02;
                                    border-radius: 3px;
                                    position: absolute;
                                    right: -2px;
                                    top: calc(50% + 4px);
                                    transform: rotateZ(-45deg) translateY(-50%);
                                    transition: all .3s;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        .recruitment_btn {
            .box {
                margin: 0 auto;
                width: 500px;
                position: relative;
                @include sm_max {
                    width: 100%;
                }
                a {
                    text-align: center;
                    width: 500px;
                    padding: 38px 0;
                    display: inline-block;
                    color: $color04;
                    background-color: $color02;
                    font-size: 24px;
                    transition: all .3s;
                    position: relative;
                    z-index: 2;
                    @include sm_max {
                        width: 100%;
                        padding: 28px 0;
                        font-size: 22px;
                    }
                    &::after {
                        transition: all .3s;
                        content: "";
                        position: absolute;
                        background-color: $color04;
                        box-shadow: 0 0 0 2px $color04 inset;
                        width: 0;
                        height: 100%;
                        top: 0;
                        right: 0;
                        z-index: -1;
                    }
                    &:hover {
                        color: $color02;
                        &::after {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                        .arrow {
                            background-color: $color02;
                            &::before {
                                background-color: $color02;
                            }
                            &::after {
                                background-color: $color02;
                            }
                        }
                    }
                    .arrow {
                        width: 26px;
                        height: 2px;
                        background-color: $color04;
                        border-radius: 3px;
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .3s;
                        &::before {
                            content: '';
                            display: block;
                            width: 13px;
                            height: 2px;
                            background-color: $color04;
                            border-radius: 3px;
                            position: absolute;
                            right: 0px;
                            top: calc(50% - 5px);
                            transform: rotateZ(45deg) translateY(-50%);
                            transition: all .3s;
                        }
                        &::after {
                            content: '';
                            display: block;
                            width: 13px;
                            height: 2px;
                            background-color: $color04;
                            border-radius: 3px;
                            position: absolute;
                            right: -2px;
                            top: calc(50% + 4px);
                            transform: rotateZ(-45deg) translateY(-50%);
                            transition: all .3s;
                        }
                    }
                }
            }
        }
    }
}

#sec_05 {
    .inner {
        .sec_ttl {
            h2 {
                color: $color03;
            }
        }
        .question_list {
            .item {
                width: 100%;
                .question {
                    cursor: pointer;
                    height: 60px;
                    background-color: $color04;
                    color: $color02;
                    font-size: 18px;
                    line-height: 1.888;
                    display: flex;
                    align-items: center;
                    padding: 10px 40px 10px 10px;
                    margin-bottom: 20px;
                    font-weight: bold;
                    position: relative;
                    transition: all .3s;
                    @include sm_max {
                        height: 46px;
                        margin-bottom: 10px;
                    }
                    span {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 30px;
                        background-color: $color02;
                        color: $color04;
                        font-size: 20px;
                        margin-right: 10px;
                        @include sm_max {
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            font-size: 18px;
                        }
                    }
                    p {
                        @include sm_max {
                            font-size: 14px;
                            line-height: 1.3;
                            display: inline-block;
                            width: 80%;
                        }
                    }
                    .arrow {
                        width: 2px;
                        height: 20px;
                        background-color: $color02;
                        border-radius: 3px;
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 3;
                        transition: all .3s;
                        &::before {
                            content: '';
                            display: block;
                            width: 8px;
                            height: 2px;
                            background-color: $color02;
                            border-radius: 3px;
                            position: absolute;
                            right: 0px;
                            top: calc(50% + 7px);
                            transform: rotateZ(45deg) translateY(-50%);
                            transition: all .3s;
                        }
                        &::after {
                            content: '';
                            display: block;
                            width: 8px;
                            height: 2px;
                            background-color: $color02;
                            border-radius: 3px;
                            position: absolute;
                            right: -6px;
                            top: calc(50% + 7px);
                            transform: rotateZ(-45deg) translateY(-50%);
                            transition: all .3s;
                        }
                    }
                    &.active {
                        background-color: $color03;
                        .arrow {
                            &::before {
                                content: '';
                                display: block;
                                width: 8px;
                                height: 2px;
                                background-color: $color02;
                                border-radius: 3px;
                                position: absolute;
                                right: -5px;
                                top: calc(50% - 7px);
                                transform: rotateZ(45deg) translateY(-50%);
                                transition: all .3s;
                            }
                            &::after {
                                content: '';
                                display: block;
                                width: 8px;
                                height: 2px;
                                background-color: $color02;
                                border-radius: 3px;
                                position: absolute;
                                right: -1px;
                                top: calc(50% - 7px);
                                transform: rotateZ(-45deg) translateY(-50%);
                                transition: all .3s;
                            }
                        }
                    }
                }
                .answer {
                    display: none;
                    margin-bottom: 40px;
                    @include sm_max {
                        margin-bottom: 20px;
                    }
                    p {
                        line-height: 20px;
                        @include sm_max {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    height: 60px;
    background-color: $color03;
    .inner {
        height: 100%;
        padding: 0;
        color: $color02;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include sm_max {
            font-size: 13px;
            flex-direction: column-reverse;
            justify-content: center;
            line-height: 1.4;
        }
        .footer_right {
            a {
                color: $color02;
            }
        }
    }
}



