<footer style="padding: 0;">
    <div class="inner">
        <div class="footer_left">
            <p class="copy" style="color: white;">© KOKUDO Co.,Ltd. </p>
        </div>
        <div class="footer_right">
            <p><a style="color: white;" href="/-/top/privacy.pdf" target="_blank" rel="noopener">プライバシーポリシー</a></p>
        </div>
    </div>
</footer>